body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.title-div {
    font-size: larger;
    font-weight: bolder;
}

div.paragraph-title {
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

div.paragraph-contents {
    font-size: small;
    background-color: #ececec;
    padding: 2px 15px;
    border-radius: 10px;
    display: none;
}